<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    <link rel="stylesheet" href="/styles/index.css">
    <!-- <link rel="stylesheet" href="./public/styles/index.css"> -->
</head>
<body>
    <section class="functionBlock">
        <div class="functionContainer">
            <div class="functionTitle">發表一篇圖文</div>
            <div class="functionForm" action="/" >
            <!-- <form class="functionForm"> -->
                <div class="commentTitle">文字內容 : <input id="commentInput" name="commentInput" type="text"></div>
                
                <div class="pictureTitle">圖片檔案 : <input id="pictureInput" name="pictureInput" type="file" accept="image/*"></div>
                <button class="submit" type="submit">送出</button>
            </div>
            <!-- <div class="messageBlock">
                <hr class="hrLine">
                <div class="wordBlock">
                    <p class="messageWord">皮卡丘</p>
                </div>
                <div class="pictureBlock">
                    <img src="" alt="" class="messagePicture">
                </div>
            </div> -->
            
        </div>
        
        
    </section>
    

    <script src="/index.js" ></script>
</body>
</html>